<!-- batch.html -->
{% extends 'base.html' %}

{% block title %}Batch Prediction - Predictor{% endblock %}

{% block content %}

<div id="main_content">
  <div class="container" id="batch_prediction_form">
    <div class="row">
      <div class="col-md-10" id="batch_introduction">
        For batch prediction, select structure file type SDF or SMILES, fill
        your email address. When the batch prediction completed, the
        prediction results will send to your provided email.
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form class="form-horizontal" id="batchsdf_form" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <label for="" class="control-label">File Type:</label>
              </div>
              <div class="col-md-10">
                <!--
												 <label class="radio-inline">
          												<input type="radio" name="fileType" value="sdf" checked="checked"> SDF
        										 </label>
        										 <label class="radio-inline">
          												<input type="radio" name="fileType" value="smiles"> SMILES
        										 </label>
        										 -->
                <div class="form-check form-check-inline">
                  <input class="form-check-input algorithm" type="radio" name="fileType" id="sdf" value="sdf" checked />
                  <label class="form-check-label" for="sdf">SDF</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input algorithm" type="radio" name="fileType" id="smiles" value="smiles" />
                  <label class="form-check-label" for="smiles">SMILES</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <label for="email" class="control-label">Your Email<i class="fa fa-asterisk" style="
                          color: #ff0000;
                          font-size: 6px;
                          margin-left: 5px;
                          vertical-align: top;
                        " aria-hidden="true"></i>
                </label>
              </div>
              <div class="col-md-10">
                <input type="text" name="email" class="form-control" required="required"
                  placeholder="your email address" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <input type="file" class="filestyle" name="structurefile" id="structurefile"
                  data-iconName="glyphicon glyphicon-folder-open" data-buttonBefore="true"
                  data-placeholder="Please select SDF file" required="required" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <button class="btn btn-primary pull-right predict-btn">
                &nbsp; Submit &nbsp;
              </button>
              <img class="indicator pull-right" src="static/image/process.gif" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br /><br />

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="static/js/bootstrap-filestyle.min.js"></script>
<script src="static/js/bootbox.min.js"></script>
<script src="static/js/FileSaver.js"></script>
<script>
  $(function () {
    setActiveMenu("navbar_batch");
    $(":file").filestyle();
    //----------------------------Batch Prediction---------------------------------------------
    $("#batchsdf_form").submit(function (event) {
      event.preventDefault();
      var $processing = $(this).find(".indicator");
      $processing.show();
      /*'formData' doesn't work for IE9*/
      var frmData = new FormData($("#batchsdf_form")[0]);
      $.ajax({
        type: "POST",
        data: frmData,
        processData: false,
        contentType: false,
        url: "route/predict/batch",
        headers: {
          "x-custom-header": "ktzyHHQDu+ljXpsIp6aeREMBbnWU35pRE+Q6bo7c8hk=",
        },
        success: function (data, status, xhr) {
          $processing.hide();
          if (data.type == "info" && data.email) {
            var msg =
              "Thanks for choosing <b>NCATS Predictor</b>, you submission has been accepted. The prediction results will be sent to <b><i>" +
              data.email +
              "</i></b> when prediction is completed.";
            bootbox.alert(msg);
          }
        },
        error: function (xhr, status, error) {
          $processing.hide();
          bootbox.alert(xhr.responseText);
        },
      });
    });
  });
</script>
{% endblock %}