<div>
    <div class="container-fluid">
        <div class="container px-0">
            <div class="row" id="brand_row">
                <div class="col-md-12">
                    <div>
                        <a class="navbar-brand" href="https://www.expertsystems.inc/" target="_blank">
                            <img id="ncats_logo" src="static/image/logo.png" />
                        </a>
                    </div>
                    <div id="web_name">
                        <a class="large-screen" href="/">DiscoveryNet Platform</a>
                        <a class="small-screen" href="/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>