<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Home - DiscoveryNet Platform{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="jumbotron_introduction"></div>
    </div>
  </div>
</div>

<div id="main_content">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="introduction_text">
        <p>
          Welcome to DiscoveryNet, your gateway to a cutting-edge platform housing a diverse suite of machine learning
          models designed to revolutionize the fields of bioactivity and ADMET property prediction. In the dynamic
          landscape of drug discovery and development, accurate and efficient evaluation of a molecule's biological
          activities and its potential effects on human physiology are paramount. With our cutting edge platform,
          researchers, chemists, and pharmaceutical professionals can harness the power of advanced artificial
          intelligence to expedite the drug discovery process and make more informed decisions.
          At Expert Systems, we understand the challenges posed by the traditional trial-and-error methods in
          identifying promising drug candidates. Our platform has been meticulously crafted to address these challenges
          by leveraging the capabilities of machine learning and data science. Our suite of models is capable of
          predicting a wide range of bioactivity properties, enabling you to quickly assess the potential efficacy of
          your molecules against specific biological targets. Moreover, our ADMET (Absorption, Distribution, Metabolism,
          Excretion, and Toxicity) property prediction models offer insights into how a molecule may interact with the
          human body, paving the way for safer and more effective drugs.
        </p>
        <p>
          As we continue to push the boundaries of AI-driven drug discovery, our commitment to transparency,
          reliability, and innovation remains unwavering. Join us on this transformative journey as we unlock new
          possibilities in pharmaceutical research and accelerate the development of groundbreaking therapies. With
          DiscoveryNet, the future of drug discovery is at your fingertips.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(function () {
    setActiveMenu("navbar_intro");
  });
</script>
{% endblock %}