<!-- models.html -->
{% extends 'base.html' %}

{% block title %}Models - Predictor{% endblock %}

{% block content %}

<div class="container" id="models_container" style="overflow: hidden">
  <div class="row">
    <div class="col-md-12">
      Total Models Provided:
      <span id="total_model" class="badge badge-success"></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="models_list"><strong>Select model name to view details:</strong></label>
        <select id="models_list" class="selectpicker form-control"></select>
      </div>
      <!--
					<h4>Select model name to view details:</h4>
					<select id="models_list" class="form-control" data-live-search="true"></select> 
					-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" id="model_info"></div>
  </div>
</div>

<script type="text/template" id="model_detail_template">
  {{"{{#.}}"|safe }}
    <dl class="row">
    <dt class="col-md-2">Name:</dt><dd class="col-md-9"><i>{{"{{protein_name}}"|safe }}</i></dd>
    <dt class="col-md-2">UNIPROT ID:</dt><dd class="col-md-9">{{"{{uniprot_id}}"|safe }}</dd>
    <dt class="col-md-2">Prediction Type:</dt><dd class="col-md-9">{{"{{model_type}}"|safe }}</dd>
    <dt class="col-md-2">Num Training Set:</dt><dd class="col-md-9">{{"{{train_count}}"|safe }}</dd>    
    <dt class="col-md-2">Num Testing Set:</dt><dd class="col-md-9">{{"{{test_count}}"|safe }}</dd>
    <dt class="col-md-2">Num Actives:</dt><dd class="col-md-9">{{"{{actives_count}}"|safe }}</dd>
    <dt class="col-md-2">Num Decoys:</dt><dd class="col-md-9">{{"{{decoys_count}}"|safe }}</dd>
    <dt class="col-md-2">ROC AUC:</dt><dd class="col-md-9">{{"{{roc_auc}}"|safe }}</dd>
    <dt class="col-md-2">Accuracy:</dt><dd class="col-md-9">{{"{{accuracy}}"|safe }}</dd>
    <dt class="col-md-2">F1 Score:</dt><dd class="col-md-9">{{"{{f1_score}}"|safe }}</dd>
    <dt class="col-md-2">MCC:</dt><dd class="col-md-9">{{"{{mcc}}"|safe }}</dd>
    <dt class="col-md-2">Cohen Kappa:</dt><dd class="col-md-9">{{"{{cohen_kappa}}"|safe }}</dd>
  </dl>
  {{ "{{/.}}"|safe }}
</script>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(function () {
    setActiveMenu("navbar_models");
    buildModelsList();

    function buildModelsList() {
      $.ajax({
        url: "http://localhost:8000/ligandnet/api/v1/models",
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json;charset=UTF-8',
        success: function (data, status, xhr) {
          $("#total_model").html(data.length);
          var options = "";
          data.forEach(function (d) {
            options +=
              '<option value="' + d.uniprot_id + '">' + d.protein_name + "</option>";
          });
          // console.log(options);
          $("#models_list")
            .append(options)
            .promise()
            .done(function () {
              var $this = $(this);
              showModelDetail($this.find("option:first").val());
              $this.on("change", function (e) {
                var modelId = $(this).val();
                showModelDetail(modelId);
              });
              /*
          $this.selectpicker({liveSearch: true,maxOptions: 1}); 
          $this.on('changed.bs.select', function (e) { 
            var modelId=$(this).val(); 
            showModelDetail(modelId);  
          });*/
            });
        },
        error: function (xhr, status, error) {
          handleAjaxError(xhr, status, error);
        },
      });
    }

    function showModelDetail(modelId) {
      $.ajax({
        url: "http://localhost:8000/ligandnet/api/v1/models/?uniprot_id=" + modelId,
        type: "GET",
        dataType: "json",
        success: function (data, status, xhr) {
          if (data.references) {
            var refArr = data.references.split(/\|/);
            data.references = refArr;
          }
          var infoHtml = Mustache.render(
            $("#model_detail_template").html(),
            data
          ); //cssjs.html
          $("#model_info").html(infoHtml);
        },
        error: function (xhr, status, error) {
          handleAjaxError(xhr, status, error);
        },
      });
    }

    function handleAjaxError(xhr, status, error) {
      // Display error message to the user
      var errorMessage = "An error occurred: " + error;
      console.error(errorMessage);
      // You can customize how you display the error message here
      // For example, show it in an alert box or update a specific element on the page
      // For now, I'm logging it to the console
    }
  });
</script>

{% endblock %}