<div>
    <div id="navigation" class="container-fluid">
        <div class="container adjustable px-0">
            <nav class="navbar navbar-dark navbar-expand-md py-0" role="navigation">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul id="menu-main-nav" class="navbar-nav nav-justified w-100">
                        <li id="navbar_intro" class="nav-item menu-item">
                            <a href="/">Introduction</a>
                        </li>

                        <li id="navbar_structure" class="nav-item menu-item">
                            <a href="/structure">Structure Prediction</a>
                        </li>

                        <li id="navbar_batch" class="nav-item menu-item">
                            <a href="/batch">Batch Prediction</a>
                        </li>

                        <li id="navbar_models" class="nav-item menu-item">
                            <a href="/models">Models</a>
                        </li>
                        <li id="navbar_about" class="nav-item menu-item">
                            <a href="https://www.expertsystems.inc" target="_blank">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>