<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Structure Prediction - Predictor{% endblock %}

{% block content %}

<div class="container" id="structue_page">
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="nav-item">
      <a href="#text_tab" class="nav-link active" data-toggle="tab">
        <i class="fa fa-pencil" aria-hidden="true"></i> By Text</a>
    </li>
    <!-- <li class="nav-item">
      <a href="#image_tab" class="nav-link" data-toggle="tab">
        <i class="fa fa-globe" aria-hidden="true"></i> Use Image
      </a>
    </li> -->
  </ul>

  <div class="tab-content" id="tab_struct_prediction">
    <div class="tab-pane active" id="text_tab">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="text_input">Please input
              <i><strong>SMILES</strong></i>
            </label>
            <textarea class="form-control rounded-0" id="text_input" rows="5"></textarea>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <button class="btn btn-primary" id="text_predict_btn">
            PREDICT
          </button>
          <img class="indicator ml-2" src="/static/image/process.gif" id="prediction_indictor">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup_structure_holder">
  <img src="/static/image/loading.gif" id="structimg" />
</div>

<div id="modelDetailModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-header-success">
        <h4 class="modal-title">Model Detail</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div id="prediction_content">
  <div class="container-fluid">
    <br />
    <div class="row">
      <div class="col-md-12 h5">Prediction Results</div>
    </div>
    <hr />
  </div>
  <div class="container-fluid">
    <div id="prediction_result">
      <table class="table table-responsive" id="predx_table">
        <thead>
          <tr>
            <th></th>
            <th>Model Name</th>
            <th>Confidence Score</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
</div>

<script type="text/template" id="model_detail_template">
  {{"{{#.}}"|safe }}
    <dl class="row">
    <dt class="col-md-2">Name:</dt><dd class="col-md-9"><i>{{"{{protein_name}}"|safe }}</i></dd>
    <dt class="col-md-2">UNIPROT ID:</dt><dd class="col-md-9">{{"{{uniprot_id}}"|safe }}</dd>
    <dt class="col-md-2">Prediction Type:</dt><dd class="col-md-9">{{"{{model_type}}"|safe }}</dd>
    <dt class="col-md-2">Num Training Set:</dt><dd class="col-md-9">{{"{{train_count}}"|safe }}</dd>    
    <dt class="col-md-2">Num Testing Set:</dt><dd class="col-md-9">{{"{{test_count}}"|safe }}</dd>
    <dt class="col-md-2">Num Actives:</dt><dd class="col-md-9">{{"{{actives_count}}"|safe }}</dd>
    <dt class="col-md-2">Num Decoys:</dt><dd class="col-md-9">{{"{{decoys_count}}"|safe }}</dd>
    <dt class="col-md-2">ROC AUC:</dt><dd class="col-md-9">{{"{{roc_auc}}"|safe }}</dd>
    <dt class="col-md-2">Accuracy:</dt><dd class="col-md-9">{{"{{accuracy}}"|safe }}</dd>
    <dt class="col-md-2">F1 Score:</dt><dd class="col-md-9">{{"{{f1_score}}"|safe }}</dd>
    <dt class="col-md-2">MCC:</dt><dd class="col-md-9">{{"{{mcc}}"|safe }}</dd>
    <dt class="col-md-2">Cohen Kappa:</dt><dd class="col-md-9">{{"{{cohen_kappa}}"|safe }}</dd>
  </dl>
  {{ "{{/.}}"|safe }}
</script>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function () {
    setActiveMenu('navbar_structure');

    var $predict_btn = $("#text_predict_btn");
    $predict_btn.click(function doPrediction() {
      var $indictator = $("#prediction_indictor");
      $indictator.show();
      $.ajax({
        url: "http://localhost:8000/ligandnet/api/v1/predict?smiles=" + $("#text_input").val(),
        type: 'POST',
        dataType: 'json',
        contentType: 'text/plain;charset=UTF-8',
        success: function (data, status, xhr) {
          var $predx_table = $("#predx_table");
          var rows = "";
          data.forEach(function (d) {
            rows += "<tr>";
            rows += "<td>" + d.uniprod_id + "</td>";
            rows += "<td>"+ d.conf_score +"</td>";
            rows += "</tr>";            
          });
          // add rows to predx_table
          $predx_table.append(rows);
          // hide the indicator
          $indictator.hide();
          // show the prediction result
          $("#prediction_content").show();
        },
        error: function (xhr, status, error) {
          handleAjaxError(xhr, status, error);
        },
      });
    });
    function handleAjaxError(xhr, status, error) {
      // Display error message to the user
      var errorMessage = "An error occurred: " + error;
      console.error(errorMessage);
    }
  });
</script>

{% endblock %}