<div class="container-fluid text-center footer">
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="https://www.nih.gov/" target="_blank" class="external-link">NIH</a>
                <span class="v-bar">|</span>
                <a href="https://ncats.nih.gov/" target="_blank" class="external-link">NCATS</a>
                <span class="v-bar">|</span>
                <a href="https://ncats.nih.gov/privacy" target="_blank" class="external-link">PRIVACY ACT</a>
                <span class="v-bar">|</span>
                <a href="https://ncats.nih.gov/accessibility" target="_blank" class="external-link">ACCESSIBILITY</a>
                <span class="v-bar">|</span>
                <a href="https://ncats.nih.gov/disclaimer" target="_blank" class="external-link">DISCLAIMER</a>
            </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <a title="HHS Vulnerability Disclosure" href="https://www.hhs.gov/vulnerability-disclosure-policy//"
                class="external-link" target="_blank">HHS Vulnerability Disclosure</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                If you have problems viewing PDF files, download the latest version
                of
                <a target="_blank" href="https://get.adobe.com/reader/" class="external-link">Adobe Reader</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                For
                <a href="http://edi.nih.gov/consulting/language-access-program/about" target="_blank"
                    title="Read the plan" class="external-link">language access</a>
                assistance, contact the
                <a href="mailto: info@ncats.nih.gov" title="E - mail Public Information Officer"
                    class="external-link">NCATS
                    Public Information Officer</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                National Center for Advancing Translational Sciences (NCATS), 6701
                Democracy Boulevard, Bethesda MD 20892-4874 &#9742; 301-594-8966
            </p>
        </div>
    </div>
</div>