<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Home - Predictor{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="jumbotron_introduction"></div>
    </div>
  </div>
</div>

<div id="main_content">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="introduction_text">
        <p>
          <strong>NCATS static</strong> is a website for scientific
          community to obtain
          <abbr title="Quantitative structure–activity relationship">QSAR</abbr>
          data sets and models related to the NCATS projects. NCATS
          static allows the simultaneous prediction of different
          biological activities and physico-chemical properties of
          compounds. The service allows to input the different types of
          structure identifiers: Smiles, SDF files, Images of chemical
          structures. As output, the service provides predictions from the
          models calculated for each submitted compound. In addition, the
          service estimates and reports the applicability domain of each
          QSAR model. This calculation is performed for each compound with
          the result that each prediction is annotated with either "<span class="in-domain">In AD</span>" or "<span
            class="out-domain">Out of AD</span>", indicating
          whether one can be confident in the prediction or not. This
          service can be used by researchers for virtual screening of
          drug-like compounds with desirable biological profile as well as
          for structure optimization of the compound of interest.
        </p>
        <p>
          A self-contained instance of NCATS static is available at
          <a href=" https://hub.docker.com/r/ncats/predx/?" target="_blank"><img src="image/docker.png"
              class="docker" /></a>
        </p>
        <p>
          Publication:
          <a href="https://pubs.acs.org/doi/10.1021/acs.jcim.9b00526"
            target="_blank">https://pubs.acs.org/doi/10.1021/acs.jcim.9b00526</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(function () {
    setActiveMenu("navbar_intro");
  });
</script>
{% endblock %}